@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow: hidden;
}

p {
  margin: 0;
}

.left, .right {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.left {
  justify-content: flex-end;
}

.right {
  justify-content: flex-start;
}

.variable,
.operator {
  width: fit-content;
  font-size: 64px;
}

.left .variable,
.left .operator {
  float: right;
}

.right .variable,
.right .operator {
  float: left;
}

.variable {
  border-width: 4px;
  border-style: solid;
  border-color: #ffffff00;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.variable.dragging {
  border-style: dashed;
  color: #ffffff00;
  border-color: black;
  height: 50px;
  margin-top: 4px;
}

.variable.drop-zone {
  height: 50px;
  width: 40px;
  border-width: 4px;
  margin-top: 4px
}

.variable.drop-zone.can-drop {
  border-style: dashed;
  border-color: black
}

.drop-zone:not(.can-drop) {
  visibility: hidden;
}

.operator {
  margin-left: 24px;
  margin-right: 24px;
}

.container {
  display: block;
}

.workspace {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.equation {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  align-items: center;
}

.toolbar {
  width: fit-content;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0px);
}

.toolbar .icon-button {
  font-size: 34px;
  margin-left: 18px;
  margin-right: 18px;
}

.icon-button-enabled {
  color: black;
  cursor: pointer;
}

.icon-button-disabled {
  color: rgb(202, 202, 202)
}

.history-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  box-shadow: 24px;
  padding: 14px;
  border-radius: 8px;
}

.history-modal .content {
  display: flex;
  flex-flow: column;
}

.history-modal .content h2 {
  margin-top: 0px;
}

.history-modal .footer {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.divisor-line {
  height: 5px;
  width: 100%;
  background-color: black;
}

.history-item {
  display: flex;
  flex-flow: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.history-items {
  max-height: 200px;
  overflow: scroll;
  margin-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
}