@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow: hidden;
}

.variable,
.operator {
  width: fit-content;
  font-size: 64px;
}

.left .variable,
.left .operator {
  float: right;
}

.right .variable,
.right .operator {
  float: left;
}

.variable.dragging {
  color: blue;
}

.variable.drop-zone.can-drop {
  color: yellow;
}

.drop-zone:not(.can-drop) {
  visibility: hidden;
}

.variable.drop-zone.is-over {
  color: green;
}

.operator {
  margin-left: 24px;
  margin-right: 24px;
}

.container {
  display: block;
}

.workspace {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.equation {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  align-items: center;
}

.toolbar {
  width: fit-content;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0px);
}

.toolbar .icon-button {
  font-size: 24px;
  margin-left: 6px;
  margin-right: 6px;
}

.icon-button-enabled {
  color: black;
  cursor: pointer;
}

.icon-button-disabled {
  color: rgb(202, 202, 202)
}

.history-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  box-shadow: 24px;
  padding: 14px;
  border-radius: 8px;
}

.history-modal .content {
  display: flex;
  flex-flow: column;
}

.history-modal .content h2 {
  margin-top: 0px;
}

.history-modal .footer {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}